* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    text-transform: uppercase;
    color: white;
}

.info {
    background-color: brown;
    color: white;
    font-size: 20px;
}

.name {
    text-decoration: underline blue wavy;
    letter-spacing: 10px;
    font-size: 20px;
    background-color: greenyellow;
}

.body {
    line-height: 2;
    background-color: aquamarine;
    font-size: 20px;
}

.heading,
.info,
.name,
.body {
    margin: 0;
    padding: 10px 20px;
}