<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901274917700-1m8qk9lj7h5di90k7d0pd2dq7v71knan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901274917700-1m8qk9lj7h5di90k7d0pd2dq7v71knan</string>
	<key>API_KEY</key>
	<string>AIzaSyA3kokFHApg5rVu7a95k44FLA6xRsBnllU</string>
	<key>GCM_SENDER_ID</key>
	<string>901274917700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abc.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-c4f02</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-c4f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901274917700:ios:e401ae0536661d53bcd511</string>
</dict>
</plist>