/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* user style */
html {
    font-family: 'roboto', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
    background-color: rgba(32, 219, 41, 0.359);
    position: relative;
}

.entity {
    display: flex;
    flex-grow: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 32%;
    margin-bottom: 20px;
}

.channel_img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.channel_img_and_title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title_and_other {
    padding-top: 0px;
    padding-bottom: 10px;
    width: inherit;
}

.video_title {
    display: block;
    padding: 5px;
    padding-bottom: 7px;
    font-size: 17.5px;
    font-weight: 600;
}

.channel_name {
    display: block;
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 15px;
}

.views_and_time {
    padding-left: 5px;
    font-size: 10px;
}
.thumbnail{
    width: 100%;
    border-radius: 7%;
}

@media (max-width: 549px) {
    main{
        width: 100vw;
    }
    .entity {
        width: 100%;
        margin: 10px;
    }
    .thumbnail {
        width: 100vw;
        border-radius: 0%;
    }

    .video_title {
        font-weight: normal;
    }

    .views_and_time,
    .channel_name {
        color: rgb(87, 82, 82);
    }
}

@media (min-width:550px) {
    main{
        width: 100vw;
    }
    .entity {
        width: 46%;
        margin-bottom: 15px;
    }
}

@media (min-width:800px) {
    .entity {
        width: 30.66%;
    }
}
@media (min-width:1200px) {
    .entity {
        width: 23%;
    }
}
@media (min-width:1650px) {
    main {
        width: 1650px;
    }
}