:root {
    font-size: 10px;
}

* {
    font-size: 2rem;
    font-family: monospace, sans-serif, Arial, Helvetica;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background-color: red;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width: 47rem;
}

h1,
.itemlist,
h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

.item {
    outline: none;
    border: 0.5rem solid rgb(255, 255, 255);
    height: 4rem;
    width: 30rem;
    font-size: 3rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

form button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
}

form button:hover {
    background-color: green;
}




/* my css classes*/
.-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.-shadow {
    box-shadow: 0.5rem 0.5rem 1rem black;
}

.-hide {
    display: none;
}